  <div class="jumbotron">
    <h1>Time de Pokemons</h1>
    <h3>Venha criar seu time com até 6 jogadores!</h3>
    <p><%= link_to "Entre para ver os times", new_trainer_registration_path, class: "btn btn-info btn-lg" %></p>
  </div>


